@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.navbar {
  background-color: #AB3C3C;
}

.nav-logo {
  height: 7rem;
}

h1 {
  color: #AB3C3C;
  font-size: 4rem;
}

p {
 color: #636562;
}

.option-box-1:hover, .option-box-2:hover, .option-box-3:hover {
  cursor: pointer;
}

#homeContainer {
  margin-top: 2rem;
  margin-bottom: 8rem;
}

.options {
  margin-top: 3rem;
}

.sign-in-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  background-color: #ffffff;
}

.pizza-home {
  height: 100%;
}

.sign-in-logo {
  height: 15rem;
  margin-bottom: 2rem;
}

.sign-in-copy {
  margin-top: 7rem;
  text-align: center;
  margin-right: 8rem;
}

.sign-in-footer {
  color: #636562;
  position: fixed;
  bottom: 0;
  right: 5rem;
  margin-bottom: 2rem;
  margin-right: 11rem;
  text-align: center;
}

.sign-in-btn {
  background-color: white;
  height: 3rem;
  color:#636562;
  border-color: #636562;
}

.sign-in-btn:hover {
  background-color: #AB3C3C;
  border-color: #AB3C3C;
}
.google-button {
  height: 2rem;
}

.me-auto {
  margin-left: 65rem;
}

.option-box-1, .option-box-2, .option-box-3 {
  padding: 2rem;
  position: relative;
  border: solid #b9b9b9;
  border-width: .1px;
}

.option-box-1::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .5;
  background-image: url("https://images.pexels.com/photos/16586524/pexels-photo-16586524/free-photo-of-pizza-served-in-a-restaurant.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: 19%;
}

.option-box-2::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .5;
  background-image: url("https://images.pexels.com/photos/1038332/pexels-photo-1038332.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-size: cover;
  background-position: 40%;
}

.option-box-3::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .5;
  background-image: url("https://images.pexels.com/photos/17626467/pexels-photo-17626467/free-photo-of-pizza-boxes-in-a-restaurant.jpeg");
  background-size: cover;
  background-position: 5%;
}

.option-box-1:hover, .option-box-2:hover, .option-box-3:hover {
  background-color: #ff8b8b;
  cursor: pointer;
}

.index-h2 {
  isolation: isolate;
  color: rgb(36, 36, 36);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(41, 41, 41);
  font-size: 2.5rem;
}

.main-footer {
  margin-top: 1rem;
}

.card-top {
  background-color: #E69D38;
  font-size: 1.5rem;
  color: white;
}

.card-body {
  background-color: #D9D9D9;
}

.order-card {
  text-align: left;
  height: 21rem;
  width: 25rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.order-cards {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  justify-content: left;
  display: flex;
  flex-basis: 33%;
  flex-grow: 2;
  flex-wrap: wrap;
}

.orders {
  text-align: center;
  margin-top: 2rem;
}
